a, a:link, a:visited{
	color: #0066ee;
}
#sidebar ul li h2
{
	color: #0066ee;
}
#navi ul li.current_page_item a, #navi ul li.current-cat a, #navi ul li.current-menu-item a{
	color: #0066ee;
}
.post h2, .attachment h2, .post h2 a:link, .post h2 a:visited {
	color: #0066ee;
}
#slideshow .post h2 a{  
    color: #0066ee;
}
.comment-author .fn, .comment-reply-link {
	color: #0066ee !important;
}
.wp-pagenavi .current {
    color: #0066ee;
}
#slide_keys a:link, #slide_keys a:visited {
	color: #0066ee !important;
}